.listaPost {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80vw;
    margin: 0 auto;
    /* width: 100px;
     height: 100px;
     display: inline-block;
     position: left !important */
}