.textDecorator {
    text-decoration: none;
}
.cursor{
    cursor: pointer;
    color: white !important;
    text-align: center;
}

.Abar{
    background-color: #114880 !important;
}

.icon{
    align-items: center;
    width: 150px;
    height: 80px;
}

.logout{
    color: white !important;
    cursor: pointer;
    align-items: center !important;
    width: 80px;
    height: 80px;
}

.textos{
    font-size: 100px;
}

