.textDecorator {
    text-decoration: none;
}
.cursor{
    cursor: pointer;
    color: white;
}

.Abar{
    background-color: #0A0840;
}

.logoNav{
    width: 90px;
    height: 100px;
}

.linknav{
    align-items: center;
    padding: 30px;
    margin-top: 10px;
    position: static;
}
