.textDecorator {
    text-decoration: none;
}
.cursor{
    cursor: pointer;
    color: white;
}

.Abar{
    background-color: #0A0840 !important;
}

.icone {
    align-items: center;
    width: 5vh;
    height: 5vh;
}
