.cursor{
    cursor: pointer;
}

.btnModal{
    
    border-color: black;
    background-color: #a8dadc !important;
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 30vw;
    height: 100vh;
}