.cursor{
    cursor: pointer;
}

.btnModal{
    border-color: #0D0D0D;
    background-color: #CD0045 !important;
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 30vw;
    height: 100vh;
}