.imagemLogin {
    background-repeat: no-repeat;
    /*width: vh;*/
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("https://ik.imagekit.io/vfpark/Authentication-rafiki.svg?updatedAt=1682705675180%22")
}

.textField {
width: 60vh;
}

.textoCadastre{
    font-weight: bold !important;
    color: #000;
    
}