.imagemLogin{
    background-image: url(https://ik.imagekit.io/ohu04lxwc/login.png?updatedAt=1682451604357);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}
.junte{
    cursor: 'pointer' !important
    
}

.texto {
    font-weight: bold !important;
    color: #CD0045 !important; 
}

.botao {
    color: #CD0045 !important;
}