.imagemLogin{
    background-image: url(https://ik.imagekit.io/6kg1q0s1r/Mobile_login-bro.png?updatedAt=1681416862865);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}