.logo{
    color: white !important;
}

.boxPrincipal {
    background-color: #114880; 
    height: 100%
}

.descricao {
    color: white
}

.icones {
    font-size: 30; 
    color: white
}

.boxRedes{
    
}
