.imgFooter{
    width: 12vh;
    height: 12vh;
}

.boxPrincipal {
    background-color: #0A0840 !important; 
    height: 100%
}

.descricao {
    color: white
}

.icones {
    font-size: 30; 
    color: white
}

