.fotoHome {
    width: 100%;
    aspect-ratio: 3/1;
}

.caixa {
    background-color: white;
}

.titulo {
    margin-top: 20px !important;
    color: #CD0045;
    font-weight: bold !important
}

.subtitulo {
    color: #0D0D0D;
    margin-bottom: 15px !important;
}

.botao {
    border-color: #1d3557 !important; 
    background-color: #CD0045 !important;
    color: #1d3557
}

.postagens {
    background-color: white
}
