.fotoHome {
    width: 100%;
    height: 100%;
    display: block;
    
}

.caixa {
    background-color: white;
}

.titulo {
    color: #1d3557 !important;
    font-weight: bold
}

.botao {
    border-color: #1d3557 !important; 
    background-color: #a8dadc !important;
    color: #1d3557
}

.postagens {
    background-color: white
}
