.fotoHome {
    width: 208vh;
    height: 80vh;
    display: block;
      
}

.caixa {
    background-color: white;
}

.titulo {
    color: #CD0045 !important;
    font-weight: bold !important;
    margin-top: 2vh !important;
}

.subtitulo {
    color: #0D0D0D !important;
}


.botao {
    border-color: #1d3557 !important; 
    background-color: #a8dadc !important;
    color: #1d3557
}

.postagens {
    background-color: white
}
