.fotoSobrenos{
    background-image: url(https://ik.imagekit.io/6kg1q0s1r/BLOGPOST_THUMBNAIL_PESSOAS.jpg?updatedAt=1681494157936);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}