.fotoSobrenos{
    background-color: #EBF2F299;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.titulo {
    color: #CD0045 !important;
    font-weight: bold !important;
    margin-top: 2vh !important;
}