.fotoSobrenos{
    background-image: 'https://cdn.discordapp.com/attachments/1070726708614934629/1101574421568831529/imagem_2023-04-28_152318226-removebg-preview.png';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}