/*.imagem-tema{
    background-image: url(https://ik.imagekit.io/wvdiy3mbn/blog-pessoal/d19416d488077ddea4db2bef2ce02c59.jpg?updatedAt=1682346588355) ;
    background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
}  */

.fundo-tema {
    background-color:#EBF2F2;
}

.button-tema {
    background-color: #CD0045 !important;
}

.input-tema {
    width: 30vw;
}