.imagemLogo {
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(https://ik.imagekit.io/ohu04lxwc/LOGO.png?updatedAt=1682438600432);

}

.textocadastro{
    text-align: center;
    font-weight: bold !important;
    color: #CD0045!important;
    
}



#nome{
    background: #EBF2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#usuario{
    background: #EBF2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#senha{
    background: #EBF2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#confirmarSenha{
background: #EBF2F2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
#foto{
background: #EBF2F2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.botaoCancelar {
    margin-right: 20px !important;
    background: #F23005;     
    }
.botaoCadastrar {
     background: #114880 !important;
    }

.entorno{
    margin: 20px 20px 20px 20px;

}


