.fotoCadastroUsuario{
    background-image: url(https://ik.imagekit.io/ohu04lxwc/cadastro.png?updatedAt=1682451549983);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100vh;
}

.botaoCancelar {
    margin-right: 20px !important;    
}

.texto2 {
    color: #CD0045 !important;
    font-weight: bold !important;
}